/* HEADER: nav */

body{
    background-color: #000000;
    
}

nav
{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: 800;
    cursor: pointer;
   
}
/* .monthly{
    color:rgb(0, 184, 153);
} */

 .monthly-new{
   
   
    border-radius: 25%;
    color: black;
} 
.left{
margin-left: 24px;
font-size: 48px;
color:  white; 
}
 .left span{
    color: black;
    background-color: rgb(0, 184, 153);
    
    font-weight: 700;
    border: 0;
  
    border: 1px solid transparent;
    font-size: inherit;
    border-radius: 12px;
    line-height: inherit;
    padding: 2.1px 16px;

    transition: all 0.3 ease;
    text-transform: none;
    overflow: visible;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
} 
.header__left{
    font-size: 28.8px;
    margin-left: 102.4px;
    margin-top: -130px;
    width: 111%;
}
.header__right-image img{
    margin-left: 194px;
}
.right{
    display: flex;
    align-items: center;
    margin-left: 315px;
    gap: 56px;
    color: white;
}
.play{
    margin-top: 45px;
    margin-left: 199px;
}
.right button{
    background-color: rgb(0, 184, 153);
    color: #000000;
    font-weight: 700;
    border: 0;
    border: 1px solid transparent;
    font-size: inherit;
    border-radius: 15.6px;
    line-height: inherit;
    padding: 14.65px 10px;

    transition: all 0.3 ease;
    text-transform: none;
    overflow: visible;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}
/* .right:hover{
    color: rgb(0, 184, 153);
} */
.item-2:hover{
 color:rgb(0, 184, 153);
}
.item-3:hover{
 color:rgb(0, 184, 153) ;
}
.item-4:hover{
 color:rgb(0, 184, 153) ;
}
.item-5:hover{
 color:rgb(0, 184, 153) ;
}
.rbus{
    max-height: 73.6px;
    margin-bottom:-16px;
}

.right button:hover{
    background: transparent;
    color: #fff;
    border-color: #fff;
    
}


header {
    position: relative;
    top: 2px;
    overflow: hidden;
    height: 100vh;
    margin-bottom: 5px;
    
    
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* first 1fr is for left and another is right */
    align-items: center;
    gap: 5px;    
    height: 100%;
    color: white;
}

.header__left p {
    margin: 1px 0 2.4px;
    padding-bottom: 2px;
    line-height: 2px;
    font-weight: 500;
    color: #b8b4b4;
    padding-right: 165px;
    font-size: 37.6px;
    margin-left: 40.8px;
    margin-top: -28px;

}
.header__left h1{
    font-size: 70px; 
    max-width: 725.6px;
    color: white;
    
    font-weight: 600;
    line-height: 74.2px;
    padding-left: 44.2px;
}



/* FOOTER */
.container-1{
    align-items: center;
    background-color: #1e1e1e;
    bottom: -89.6px;
   justify-content: center;
    display: flex;
    left: 0;
    padding: 0 7%;
     position: absolute;
    width: 85%;
    height: 8px;
}
/* .container-1 img{
    height: auto;
    max-height: 12px;
    padding-right: 4px;
    width: 12px;
    

} */
.para{
    font-size: 1.5px;
    font-weight: bold;
    margin-top: 0;
    line-height: 2.15px;
    margin-block-start: 1em;
    display: block;
    color: white;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
.store{
    max-height: 168px;
    margin: -14px 2px;
    border-style: none;

    vertical-align: middle;

}

.store-apple{
    height: 120px;
    border-style: none;
    gap: 5px;
    vertical-align: middle;
    
    
    margin-left: 19px;


}
.paragraph{
    align-items: center;
}

 .image{
    background-color: black;
   /*  padding-right: 960px; */
    
} 

.vi-new-1{
    
    width: 100%;

}
.container-new{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
    background-color: black;
  /*   margin-left: 1330px; */

}
.image img{
    height: 400px;
    margin-top: 120px;
}
.content-new-2{
    padding-bottom: -28px;
    /* margin-top: -99px; */
    /* margin-right: 400px; */
    margin-left: -20px;
    margin-top: 107.2px;
    color: white;
}
.content-new-2 h1{
    font-size: 59px;
    font-style: italic;
}
.para-new-2 p{

    font-size: 20px;
    color:white ;
}
.p2{
    padding-right: 58px;
}
.p3{
    padding-left: 41px;
}
.p4{
    padding-right: 47px;
}