@media  screen and (max-width:600px) {
    .header__container{
        flex-direction: column;
    }
    .header__left{
        margin-right: 69px;
        margin-left: -67px; 
    }
    .header__left h1{
        font-size: 15px;
        width: 75%;
        margin-top: 181px;
    }
    .header__left p{
        font-size: 20px;
    }
}